.btn-blue{
    color: black;
    font-weight: bold;
    border-radius: 7px;
    padding: 16px;
    border: 1px solid none;
    width: 25%;
    text-align: center;
    margin: 24px auto;
}
.btn-blue:hover {
    background-color: lightseagreen;
    color: whitesmoke;
    transition: 1s;

}